* {
    margin: 0 3rem;
    font-family: 'Nunito', sans-serif;
}
body {
    /* border: 1px solid black; */
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid lightblue;
    border-radius: 20px;
    z-index: 100000 !important;
}
ul {
    /* border: 1px solid black; */
    display: grid;
    place-items: center;
    height: 50px;
}
span {
    margin: 0;
}
li {
    cursor: pointer;
    transition: .3s ease-in;
    /* padding: 0; */
}
li:hover {
    padding-bottom: 10px;
    border-bottom: 2px solid #0352f5;
    color: #0352f5;
}
b {
    margin: 0;
}
.logo {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.logoImg {
    width: 100px;
    margin: 0;
    padding: 20px 0;
}
h1 {
    margin: 0;
}
.navItems {
    display: flex;
    list-style: none;
}
.aa_header-hero-cta-row{
    /* border: 1px solid black; */
    gap: 20px;
}
.primaryBtn {
    width: 180px;
    height: 50px;
    border-radius: 15px;
    border: none;
    color: white;
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0354f5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0354f5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-size: 18px;
    cursor: pointer;
    transition: .5s;
}
.secondaryBtn {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #0354f5;
    background: transparent;
    color: #0354f5;
    font-size: 18px;
    cursor: pointer;
    transition: .5s;
}
.primaryBtn:hover {
    box-shadow: 0 0 10px 0 #0354f5cd;
}
.mobileNavContainer {
    display: none;
}
.aa_socials-container {
    display: none;
}
.menuBtn {
    display: none;
}
.aa_header-container {
    display: grid;
    place-items: center;
    height: 100vh;
    /* border: 1px solid black; */
    padding-top: 74px;
}
.aa_header-container-col {
    display: flex;
}
/* .aa_header-container-col-row {
    border: 1px solid black;
} */
.aa_header-hero-title {
    font-size: 4.5rem;
    /* line-height: 6rem; */
}
.w-100 {
    width: 100%;
}
.w-50 {
    width: 50%;
}
.m-0 {
    margin: 0;
}
.aa_primary-colour {
    color: #0352f5;
}
.aa_spacer {
    height: 50px;
}
.d-flex {
    display: flex;
}
.artisanName {
    background-color: #f3ec78;
    background-image: linear-gradient(to right, #0354f5, #00d2ff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 4.5rem;
}
#hcg-slider-1 .hcg-slide-container {
	width: 100%;
	height: 100%;
}
.hcg-slider {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
.hcg-slide-container {
	max-width: 100%;
	display: inline-block;
	position: relative;
    height: 100%;
}
.hcg-slides {
    z-index: 0;
    margin: 0;
    width: 100%;
	display: none;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border: solid 1px #a0a0a0;
    border-radius: 2.5rem;
}
.hcg-slides img {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
    /* width: 100px; */
}
.hcg-slider-body {
    /* border: 1px solid red; */
    height: 100%;
}
/************CSS Animation***********/

.animated { 
	animation-name: fadeInLeft; 
	animation-duration: 1s;
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.fadeInLeft {
	animation-name: fadeInLeft;
}
.display-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.h-100 {
    height: 100% !important;
    /* border: 1px solid black; */
}
.aa_section-container-row {
    gap: 20px;
}
.aa_section-container-col {
    /* border: 1px solid black; */
}
.mockupContainer {
    /* border: 1px solid black; */
    position: relative;
}
.aa_image-mockup {
    width: 50rem;
}
.aa_mockup-shadow {
    position: absolute;
    filter: blur(10px);
    left: 0;
    top: 0;
    z-index: -1;
    margin-top: -10px;
}
.aa_section-title-light{
    font-weight: 100;
}
.aa_section-title {
    font-size: 3rem;
}
.pos-relative {
    position: relative;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right !important;
}
.flex-wrap {
    flex-wrap: wrap;
}
.aa_lottie {
    position: absolute;
    top: -100px;
    right: 0;
    width: 250px;
    opacity: 0.7;
    /* border: 1px solid black; */
}
.aa_section-about-app-container-row{
    /* height: 60rem; */
    /* border: 1px solid black; */
}
.aa_section-container-col {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.aa_coming-soon-btn {
    width: 250px;
    cursor: not-allowed;
}
.aa_section-coming-soon-btns{
    /* justify-content: flex-start; */
    gap: 20px;
    /* border: 1px solid black; */
}
.aa_header-fake-user-avatar {
    width: 50px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow:  0 0 8px 0 grey;
    margin-right: -10px;
}
.aa_section-container-col-earn-money-details {
    flex-direction: row;
}
.aa_section-container-col-title {
    text-align: center;
    font-size: 3rem;
}
.aa_section-container-request-artisan {
    flex-direction: column;
    gap: 50px;
}
.aa_section-container-col-request-arisan-banner-img {
    border-radius: 50px; 
    box-shadow: 0 3px 8px 0 rgb(197, 197, 197);
}
.featuresSection {
    flex-direction: column;
    /* gap: 60px; */
}
.aa_section-container-col-description {
    text-align: center;
    width: 50%;
}
.aa_section-container-col-features-img-container {
    width: 700px;
    height: 150px;
    /* border: 1px solid black; */
    border-radius: 100px;
    box-shadow: 0 0 10px 0 lightblue;
}
.aa_section-container-col-features-img-container-buy-airtime {
    background-image: url("./img/buyairtime.png");
    background-position: center;
    background-size: cover;
}
.aa_section-container-col-features-img-container-save {
    background-image: url("./img/savemoney.png");
    background-position: center;
    background-size: cover;
}
.aa_section-container-col-features-img-container-dstv-bills {
    background-image: url("./img/dstvbills.png");
    background-position: center;
    background-size: cover;
}
.aa_section-container-col-features-img {
    width: 700px;
}
.aa_section-container-col-features-img-container-title {
    font-size: 2.5rem;
    color: white;
}
/* footer */
footer {
    background-color: #0352f5;
    height: 15rem;
    border-radius: 20px;
    color: white;
}
.aa_footer-logo-container {
    background-color: white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.mockupBanner {
    width: 1400px;
    /* border: 1px solid black; */
}
.aa_header-fake-user-avatar-container p {
    margin: 0 25px !important;
}
.aa_section-container-row-faq {
    gap: 60px;
}
/* FAQ */
.faq-heading {
  font-weight: 400;
  font-size: 19px;
   /* -webkit-transition: text-indent 0.2s; */
  /* text-indent: 20px; */
  color: #333;
  padding: 20px;
}

.faq-text {
  font-weight: 400;
  color: #919191;
  width: 95%;
  padding-left: 20px;
  margin-bottom: 30px;
  display: none;
}

.faq {
  width: 100%;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  position: relative;
  /* border: 1px solid black; */
}
.faq label {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 56px;
  padding-top:1px;
  border-radius: 10px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #E1E1E1;
  border: 1px solid lightgray;
}

.faq input[type="checkbox"] {
  display: none;
}

.faq .faq-arrow {
  width: 5px;
  height: 5px;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-top: 2px solid rgba(0, 0, 0, 0.33);
  border-right: 2px solid rgba(0, 0, 0, 0.33);
  float: right;
  position: relative;
  top: -35px;
  right: 27px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

 .faq input[type="checkbox"]:checked + label > .faq-arrow {
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
 .faq input[type="checkbox"]:checked + label > .faq-text {
    display: flex;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
 .faq input[type="checkbox"]:checked + label {
  display: block;
  background: rgba(255,255,255,255) !important;
  color: #4f7351;
  height: max-content;
  transition: height 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

 .faq input[type='checkbox']:not(:checked) + label {
  display: block;
  transition: height 0.8s;
  height: max-content;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.faqLottie {
    width: 100%;
}
::-webkit-scrollbar {
  display: none;
}
.aa-mobile-faq-lottie {
    display: none;
}

@media (max-width: 1024px) {
    * {
        margin: 0 0.4rem;
    }
    nav {
        box-sizing: border-box;
        width: 100%;
        justify-content: space-between;
        /* border: 1px solid black; */
        margin: 0;
        padding: 0 10px;
        background-color: white;
        box-shadow: 0 0 15px lightblue;
    }
    .nav {
        display: none;
    }
    .navBtn {
        display: none;
    }
    .logoImg {
        width: 70px;
        /* margin: 0;
        padding: 20px 0; */
    }
    .siteTitle {
        font-size: 20px;
    }
    .menuBtn {
        display: block;
    }
    .mobileNavItems {
        display: flex;
        flex-direction: column;
        list-style: none;
        height: 60vh;
        /* border: 1px solid; */
        font-size: 30px;
        width: 80%;
        align-items: center;
        justify-content: space-evenly;
        padding: 0px;
    }
    .mobileNavContainer {
        z-index: 10000000;
        position: fixed;
        top: 0;
        right: 0;
        /* display: block; */
        width: 0%;
        height: 100vh;
        background-color: white;
        /* border: 1px solid black; */
        margin: 0;
        transition: 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
    }
    .aa_header-hero-cta-row {
        justify-content: center;
    }
    .mobileNavContainer li, .mobileNavContainer button,  .mobileNavContainer .aa_socials-container .aa_socials-container-row img {
        opacity: 0;
    }
    .primaryBtn {
        margin: 0 0;
    }
    .closeMenuBtn {
        /* border: 1px solid;  */
        width: 100%;
        position: absolute;
        top: 40px;
        display: flex;
        justify-content: flex-end;
    }
    .closeMenuIcon {
        margin-right: 15px;
    }
    .aa_nav-container-slide-in {
        display: flex;
        width: 80%;
        transition: all 0.5s ease-in;
        /* height: 100vh; */
    }
    .aa_nav-container-slide-in .aa_nav-container-text-focus-in {
        -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
    .aa_nav-container-text-blur-out {
        -webkit-animation: text-blur-out 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: text-blur-out 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
    .aa_socials-container {
        display: block;
        /* border: 1px solid black; */
        width: 60%;
        margin: 0;
        height: 100px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .aa_header-container {
        padding-top: 150px;
        height: max-content;
    }
    .aa_header-container-col {
        flex-direction: column;
        gap: 50px;
    }
    .aa_header-container-col-row {
        width: 100%;
    }
    .aa_header-hero-title {
        font-size: 3.4rem;
        text-align: center;
    }
    .artisanName {
        font-size: 3.4rem;
    }
    .aa_header-hero-description {
        text-align: justify;
    }
    .aa_section-container-col-request-arisan-banner-img {
        width: 100%;
    }
    .aa_header-fake-user-avatar-container-row {
        /* margin-right: 30px !important; */
    }
    .mockupBanner {
        width: 200px;
    }
    .aa_section-about-app-container-row {
        flex-direction: column-reverse;
    }
    .aa_image-mockup {
        padding-top: 40px;
        padding-bottom: 10px;
        width: 340px;
    }
    .mockupContainerDetail {
        padding-top: 70px;
    }
    .aa_lottie {
        display: none;
    }
    .mockupContainer {
        width: 100% !important;
    }
    .aa_header-hero-title {
        margin: 0;
        margin-bottom: 20px;
    }
    .aa_header-fake-user-avatar-container p {
        margin-right: 0 !important;
    }
    .aa_coming-soon-btn {
        width: 100%;
    }
    .aa_section-coming-soon-btns {
        gap: 10px;
    }
    .aa_section-container-col-earn-money-details p {
        margin: 0;
        text-align: justify;
    }
    .aa_section-container-col-earn-money-details {
        flex-direction: column-reverse;
        gap: 20px;
    }
    .aa_section-container-col-earn-money-img {
        width: 100%;
    }
    .aa_section-container-col-title {
        padding-bottom: 50px;
    }
    .aa_section-container-request-artisan {
        gap: 30px;
    }
    .request-an-artisan-title {
        padding-bottom: 20px;
    }
    .aa_section-container-col-request-artisan-description {
        text-align: justify;
    }
    .features-artisan-col {
        flex-direction: column;
        gap: 20px;
    }
    .aa_section-container-col-features-img-container {
        width: 100%;
    }
    .features-artisan-col-rev {
        flex-direction: column-reverse;
        gap: 20px;
    }
    .featuresSection {
        gap: 40px !important;
    }
    .mockupBanner {
        width: 100%;
    }
    .display-none {
        display: none;
    }
    footer {
        box-sizing: border-box;
        height: max-content;
        padding: 30px;
    }
    .aa_footer-logo-container {
        width: 100px;
        height: 100px;
    }
    .featuresTitle {
        padding-bottom: 0px;
    }
    .aa_section-container-row-faq{
        flex-direction: column;
    }
    .aa-mobile-faq-lottie {
        display: flex;
    }
    .aa-desktop-faq-lottie {
        display: none;
    }
    .faq label {
        height: 180px;
    }
}   
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@-webkit-keyframes text-blur-out {
    0% {
        -webkit-filter: blur(0.01);
        filter: blur(0.01);
        opacity: 1;
    }
    100% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
}
@keyframes text-blur-out {
    0% {
        -webkit-filter: blur(0.01);
        filter: blur(0.01);
        opacity: 1;
    }
    100% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
}
@media (max-width: 415px) {
    
}
@media (max-width: 768px) {
    
}
@media (max-width: 1366px) {
    
}
@media (max-width: 1920px) {
    
}


  